@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:host{
    --color-bg: #5c9db1;  
}

.header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    margin: 0 auto;
}

.hedding{
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 3rem;
}